# Dependencies
node_modules/
pnpm-lock.yaml

# Output files
charts/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build artifacts
dist/
build/
